@font-face {
    font-family: 'mexcellent3d';
    src: url('mexcellent_3d-webfont.woff2') format('woff2'),
         url('mexcellent_3d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

header h1 {
    color: white;
    margin-top: 0;
    float: left;
}
header nav {
    float: right;
    font-size: 1.5em;
}
header nav a {
    color: white;
}
header nav a:visited {
    color: white;
}
.splash {
    background-image: url("https://therealbarman.com/wp-content/uploads/2018/08/Bar-Background.png");
    background-size: cover;
    height: 90vh;
    width: 100%;  
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    font-family: 'mexcellent3d';
    text-align: center;
    font-size: 2em;
    color: lightpink;
    
    
}
#btn {
    height: 
}
.content h1 {
    margin-top: 0;
}

#header {
    background-color: black;
    height: 10vh;
}
#location {
    text-align: center;
    font-size: 1.5em;
}
#map {
    height: 100vh;
    width: 100%;
}
#gallery {
    text-align: center;
    font-size: 1.5em;
    align-content: center;
}
#footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.grid {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

.inner {
    align-content: center;
    display: grid;
    border: 5px solid #ccc;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.pic {
    margin: 0;
    padding: 10px;
}

.image {
    height: 400px;
    width: 100%;
    border: 2px solid black;
    border-radius:5px;
    background-color: purple;
    color: #fff;
}
.mobile {display: none;
}

@media all and (max-width: 1200px) {
    .inner {
        grid-template-columns: 1fr 1fr;
        
    }
    .desktop {
        display: none;
    }
    .mobile {
        display:inline-block;
        position: relative;
    }
    .mobile-content {
        display: none;
        position: absolute;
        z-index: 1;
    }
   .mobile-content a {
        position: relative;
        left: -80%;
        font-size: 1.5em;
    }
    
    .mobile:hover .mobile-content {
        display: block;
    }
    span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
  color: white;
  font-size: 3em;  
}

.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(180deg);
}
}